*.aux
*.out
*.synctex.gz
*.pdf-view-restore
*.el
*.fls
*.fdb_latexmk
*ltximg/
Notes/Week-2_cache/
Notes/Week-3_cache/
Notes/Week-4_cache/
Notes/Week-4-Sol_cache/
Notes/Week-2_files/
Notes/Week-4-Sol_files/
Notes/Week-2.tex
Notes/Week-4.tex
*.log
*.#*
Notes/Week-3.tex
Notes/Week-4-Sol.tex
*.RData
*.rdb
*.rdx
Notes/Week-2-Slides_cache/
Notes/Week-2-Slides_files/
Notes/Week-5.tex
.Rproj.user
.Rhistory
Notes/Week-4-Sol.pdf
Notes/Week-4-Sol.qmd
